/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/vendor/
node_modules/
bootstrap/compiled.php
app/storage/
public/uploads
public_html/storage
public_html/hot
public/gallery_images
.png
.json
.pdf
.webp
/.vagrant
